@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    --text: 19 1 40;
    --background: 247 241 254;
    --primary: 116 30 246;
    --secondary: 250 112 179;
    --accent: 248 79 96;
  }
  .dark {
    --text: 233 215 254;
    --background: 7 1 14;
    --primary: 96 9 225;
    --secondary: 143 5 72;
    --accent: 176 7 24;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
